<h1>選擇聊天室</h1>

<div class="row">
    <div class="col-12">
        <h4>請選擇一個聊天室:</h4>
        <div class="btn-group" role="group">
            <a href="@Url.Action("ChatRoom", "Home", new { roomName = "Room1" })" class="btn btn-primary">Room1</a>
            <a href="@Url.Action("ChatRoom", "Home", new { roomName = "Room2" })" class="btn btn-secondary">Room2</a>
            <a href="@Url.Action("ChatRoom", "Home", new { roomName = "Room3" })" class="btn btn-success">Room3</a>
        </div>
    </div>
</div>
